<h2> <%= @gown.title %> </h2>
<%= image_tag(@gown.url, width:'100px')  %> 
<h5> Colour: <%= @gown.colour %> </h5>
<h5> Size: <%= @gown.size %> </h5>
<h5> Not Available On: <%= @gown.availability %> </h5>

<div> <%= link_to "Modify", edit_gown_path(@gown.id) %> </div>
<div> <%= link_to "Delete", gown_path(@gown.id), method: :delete, data: {confirm: "Are you sure?"} %> </div>
<div> <%= link_to "Home", root_url %> <div>
<div> <%= link_to "Browse Gowns", gowns_path %> </div>
<div> <%= link_to "Request this Gown"%> </div>
<%= link_to "Add to Favourites"%>